<html>
<head>
<meta http-equiv="refresh" content="120">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<title>Pull request dashboard</title>
</head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Land Registry Dashboard</a>
          </div>
      </nav>

      <div class="col-xs-6">
        <div class="page-header">
         <h1>Outstanding pull requests</h1>
        </div>
        {% for pl in pulls %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-info">
                <i class="fa fa-spinner fa-4x pull-left"></i>
                <h4><strong>{{ pl.repo_name }}</strong></h4>
                <p><a href="{{ pl.pull_url }}" target="_blank">#{{ pl.number }} by {{ pl.user }} - {{ pl.title }}</a></p>

                <p>{% if pl.days_old > 0 %}
                {{pl.days_old}} {{ 'days' if pl.days_old > 1 else 'day' }}
                {% endif %}

                {% if pl.hours_old > 0 %}
                {{pl.hours_old}} {{ 'hours' if pl.hours_old > 1 else 'hour' }}
                {% endif %}

                {% if pl.days_old == 0 and pl.hours_old == 0 %}
                less than an hour
                {% endif %}
                ago</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-xs-6">
        <div class="page-header">
         <h1>Continuous Integration</h1>
        </div>
        {% for ci in ciprojects %}
          <div class="row">
            <div class="col-md-12">

              {% if ci.status == 'Passing' %}
              <div class="alert alert-success">
                <i class="fa fa-check-circle fa-4x pull-left"></i>
              {% elif ci.status == 'Inprogress' %}
              <div class="alert alert-warning">
                <i class="fa fa-minus-circle fa-4x pull-left"></i>
              {% elif ci.status == 'Notrun' %}
              <div class="alert alert-info">
                <i class="fa fa-minus-circle fa-4x pull-left"></i>
              {% else %}
              <div class="alert alert-danger">
                <i class="fa fa-times-circle fa-4x pull-left"></i>
              {% endif %}


                <h4><strong>{{ ci.name }}</strong> <small>(#<a href="{{ ci.url }}" target="_blank">{{ ci.buildid }}</a>)</small></h4>
                <p></p>
                {% if ci.status == 'Passing' %}
                <p>Culprits: None</p>
                {% elif ci.status == 'Notrun' %}
                <p>Culprits: None</p>
                {% else %}
                <p><b>Culprits:</b>
                  {% for culprit in ci.culprits %}
                    {% if ci.culprits[0].fullName != culprit.fullName %},{% endif %}
                      {{ culprit.fullName }}

                    {% endfor %}
                  {% endif %}

              </div>
            </div>
          </div>
        {% endfor %}
      </div>


    </div>
  </body>
</html>
