<html>
<head>
<meta http-equiv="refresh" content="30">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<title>Pull request dashboard</title>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Land Registry Dashboards</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="http://lr-build-dashboard.herokuapp.com/">Builds</a></li>
          <li><a href="http://lr-test-dashboard.herokuapp.com/">Tests</a></li>
          <li class="active"><a href="http://lr-pull-dashboard.herokuapp.com/">Pulls</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>


    <div class="page-header">
     <h1>Outstanding pull requests</h1>
    </div>

        {% for pl in pulls %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-info">
                <i class="fa fa-spinner fa-4x pull-left"></i>
                <h4><strong>{{ pl.repo_name }}</strong></h4>
                <p><a href="{{ pl.pull_url }}" target="_blank">#{{ pl.number }} by {{ pl.user }} - {{ pl.title }}</a></p>

                <p>{% if pl.days_old > 0 %}
                {{pl.days_old}} {{ 'days' if pl.days_old > 1 else 'day' }}
                {% endif %}

                {% if pl.hours_old > 0 %}
                {{pl.hours_old}} {{ 'hours' if pl.hours_old > 1 else 'hour' }}
                {% endif %}

                {% if pl.days_old == 0 and pl.hours_old == 0 %}
                less than an hour
                {% endif %}
                ago</p>
              </div>
            </div>
          </div>
        {% endfor %}
</div>

</body>
</html>